.large-orders {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-orders-wrapper {
    display: flex;
    max-width: 960px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 15px 0;
}

.left-form {
    flex: 1;
}

.form-wrapper {
    padding: 38px 24px;
}

.form-wrapper h2 {
    text-align: start;
    line-height: .8;
    margin-bottom: 24px;
    color: #502314;
    font-family: "FlameBold";
    font-weight: normal;
    font-size: 32px;
}

.form-wrapper h3 {
    margin: 0;
    font-size: 17px;
    margin-bottom: 12px;
    font-family: "FlameRegular";
    color: #502314;
}

.form-wrapper .product-field {
    display: flex;
    align-items: center;
    background-color: #f9f4f2;
    margin-bottom: 12px;
    padding: 8px 8px 8px 24px;
    border-radius: 4px;
}

.form-wrapper .product-field label {
    flex-grow: 1;
    font-family: "FlameRegular";
    line-height: 1.6;
    color: #404040;
}

.form-wrapper .product-field input {
    width: 100px;
    margin: 0;
    padding: 6px 12px;
    text-align: center;
    font: 15px/20px "FlameSans";
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    color: #404040;
    box-sizing: border-box;
}

input, textarea {
    font: 15px/20px "FlameSans";
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    color: #404040;
    box-sizing: border-box;
}

.form-wrapper .phone {
    position: relative;
}

.form-wrapper .phone .code {
    position: absolute;
    left: 15px;
    top: 8px;
    font-family: "FlameSans";
    line-height: 1.6;
    color: #404040;
}

.form-wrapper .phone input {
    padding-left: 45px;
}

.form-wrapper .split {
    display: flex;
}

.form-wrapper .split>:first-child {
    flex-grow: 1;
}

.form-wrapper .split>:last-child {
    width: 220px;
    margin-left: 12px;
}

select {
    font: 15px/20px "Barlow";
    color: #919191;
    padding: 6px 15px;
    margin-bottom: 10px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-wrapper select {
    width: 100%;
    padding: 0px;
    background: white;
    border: 1px solid #e0e0e0;
    font-family: "FlameSans";
    height: 42px;
    text-indent: 8px;
}

.right-information {
    max-width: 33.4%;
    width: 100%;
    background-color: #502314;
    padding: 90px 24px;
    position: relative;
    border-radius: 0 5px 5px 0;
}

.right-information h3 {
    font-size: 17px;
    margin-bottom: 12px;
    font-family: "FlameRegular";
    color: white;
    margin-bottom: 32px;
}

.right-information .contact {
    font-family: "FlameRegular";
    line-height: 1.6;
    font-size: 17px;
    color: #EC7A23;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.divider {
    display: block;
    width: 100%;
    border-top: 1px dashed #fff;
    margin: 20px 0;
    height: 0;
    content: " ";
}

.right-information article {
    font-family: "FlameSans";
    line-height: 1.6;
    font-size: 12px;
    color: #fff;
}

.right-information img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0 0 5px 0;
}

.button {
    font: 18px/22px "FlameRegular";
    padding: 10px;
    background-color: #ed7801;
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-wrapper button {
    background-color: #EC7A23;
}

@media (max-width: 1024px) {
    .large-orders-wrapper {
        flex-direction: column;
    }

    .right-information {
        width: 100%;
        max-width: 100%;
    }

    .right-information img {
        position: relative;
        width: 100%;
    }
}