.menus {
    background-color: #f9f4f2;
}

.item-details {
    background-color: #fff;
    width: 75%;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
}

.item-details-left {
    width: 63%;
    border-right: 1px  solid #E0E0E0;
    padding: 28px 20px 20px 20px;
    /* background-color: red; */
}

.item-details-left h1 {
    font: 30px/35px "FlameRegular";
    text-transform: capitalize;
    text-align: center;
    color: #502314;
    margin: 0px 10px;
}

.item-details-left .item-details-left-description p {
    font: 14px/20px "FlameSans";
    text-align: center;
    width: 85%;
    margin: 10px auto 20px;
}

.item-details-left .item-details-left-img-wrapper {
    display: flex;
    margin-bottom: 32px;
}

.item-details-left h2 {
    font: 21px/28px "FlameRegular";
    color: #8b542f;
    margin-bottom: 10px;
}

.item-details-left-products-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item-details-left-products-addon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    cursor: pointer;
}

.product-addon-left-section {
    display: flex;
    gap: 16px;
}

.product-addon-left-section-details {
    font: 12px/18px "FlameSans";
    color: #404040;
}

.product-addon-left-section-details>:last-child {
    font: 11px/18px "FlameSans";
    color: #b7b7b7;
}

.product-addon-left-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: #ed7801;
    border-radius: 100%;
    color: #fff;
}

.product-addon-left-icon-qty-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 20%;
}

.product-addon-left-icon-qty-wrapper .button-min,  .product-addon-left-icon-qty-wrapper .button-plus {
    color: #EC7A23;
}

.item-details-right {
    width: 37%;
    display: flex;
    flex-direction: column;
    padding: 28px 20px;
    /* background-color: blue; */
}

.item-details-right .subtotal {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item-details-right .subtotal .grandtotal {
    font: 28px/32px "FlameRegular";
}

.item-details-right .subtotal .grandtotal .discounted {
    color: #D72300;
}

.item-details-right .subtotal .grandtotal .original {
    text-decoration: line-through;
    font-size: 14px;
    color: #9F816F;
    margin-left: 5px;
    margin-bottom: 6px;
}

.item-details-right .addon-lists {
    display: flex;
    gap: 16px;
}

.item-details-right .addon-lists p {
    font: 11px/18px "Barlow", sans-serif;
}

.item-details-right .addon-lists .addon-title {
    color: #8b542f;
    font-weight: 500;
}

.item-details-right .quantity-wrapper {
    display: flex;
    position: relative;
}

.item-details-right .quantity-wrapper .input-qty {
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    text-align: center;
    font-family: "FlameRegular";
}

.item-details-right .quantity-wrapper .button-min {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-70%);
    color: #EC7A23;
    cursor: pointer;
}

.item-details-right .quantity-wrapper .button-plus {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-70%);
    color: #EC7A23;
    cursor: pointer;
}
